body {
	margin:0;
   background-color: #e6e6e6;
   max-width:100%;
   max-height:100%;
}

.corpo {

text-align:center;
background-color:#0000FF;
margin-top:-20px;
height:20%;
max-width:100%;
max-height:100%;
}


	.topnav {
	
	width:100%;
	height:10%;
    position:absolute;
	max-width:100%;
	max-height:10%;
	position:static;
	top:0;
	margin:inherit;
	position:absolute;
	text-align:center;
	background-color:white;
	box-shadow: 3px 3px 3px #333333;
	text-decoration:none; 
	}
		
	.topnav ul {
	color:#008B8B;
	text-decoration:none; 
	}	
		
.topnav li{
	position:relative;
	top:24px;
	display: inline-block;
	 font-size: 16px;
    text-decoration: none;
    line-height: 1.5em;
    padding: .3em 1.8em .3em 1.8em;
    border: 2px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
	font-family: 'Quicksand', sans-serif;
	max-width:100%;
	margin:inherit;
	width: auto;
	max-height:100%;
	text-align:center;
	box-shadow: 3px 3px 3px #333333;	
	border-color:#333333;
	}
	
	.topnav	a{
	max-width:100%;
	max-height:100%;
	font-size:22px;
	margin-top:5px;
	text-decoration:none; 
	color:#000000;
	  }
	
	.topnav	h1{ 
	color:#FF0000;
	  }
 
	
	.topnav li:hover {
 	 background-color:#BEBEBE;
	text-decoration:none;
	color:#008B8B;
 	}



a:link 
{ 
 text-decoration:none; 
 color:#000000;
} 



.corpo {
width:96%;
height:460px;
background-color:#ff99ff;
margin-left: 2%;
margin-right: 2%;
}

.corpo img {

}

#margin1 {
width:100px;
height:100px;
background-color:#0000FF;

border:medium;
margin-left:-200px;

}


.footer{
	text-align:center;
	clear:both;
	width:100%;
	height:50px;
	font-family: 'Quicksand', sans-serif;
	font-size:15px;
	background-color:#00FF66;
}
h2 {
margin-top:-60px;
color:#FF00FF;
text-shadow: 0.2em 0.1em #000000;
}

p {
font-size:15px;

}

#form1{

}

#user {

}

#pass{

}